@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}
* {
  font-feature-settings: "ss01";
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "vazir" ,"B Koodak", "B Nazanin", sans-serif;
}

input::placeholder{
  font-family: "vazir" ,"B Koodak", "B Nazanin", sans-serif;
  font-weight: normal;
}

.place_custom::placeholder {
  font-weight: 400;
}
.list-container {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.list-container::-webkit-scrollbar {
  display: none;
}

.no-snap {
  scroll-snap-type: none !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.my-sticky {
  position: sticky;
  top: 0;
}
